.section3 {
  padding-bottom: 91px;

  h2 {
    margin-top: 94px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #000000;
  }

  > p {
    font-family: 'Roboto', sans-serif;
    margin-top: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #000000;
  }

  &__content {
    margin-top: 58px;
    display: flex;
    justify-content: space-around;
    text-align: center;

    h5 {
      font-family: 'Roboto', sans-serif;
      margin-top: 42px;
      font-weight: 700;
      font-size: 19px;
      line-height: 23px;
      text-align: center;
      color: #000000;
    }

    p {
      font-family: 'Roboto', sans-serif;
      margin-top: 16px;
      font-weight: 400;
      font-size: 15px;
      line-height: 15px;
      text-align: center;
      color: #000000;
    }
  }
}