.infoCard {
  width: 276px;
  text-align: center;

  h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 45px;
    color: #000000;
    margin-bottom: 11px;
    margin-top: 4px;
  }

  p {
    width: 260px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #1C1C1C;
  }
}