.section7 {
  padding-top: 94px;
  padding-bottom: 100px;

  h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #000000;
  }

  > p {
    margin-top: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #000000;
  }

  &__content {
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
